<div class="app-container">
  <mat-toolbar color="primary">
    <button routerLink=".." mat-icon-button>
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <!-- <a [routerLink]="[{ outlets: { popup: ['compose'] } }]" mat-icon-button>
      <mat-icon>login</mat-icon>
    </a> -->
    <span>Thesis Project Managment Tool</span>
    <span class="spacer"></span>
    <button *ngIf="isLoggedIn" mat-icon-button>
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  <div [@routeAnimation]="getAnimationData()">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <router-outlet name="popup"></router-outlet> -->
