<div class="home-container">
  <a
    class="home-buttons"
    mat-raised-button
    color="primary"
    routerLink="/students"
    routerLinkActive="active-button"
    >Students</a
  >
  <a
    class="home-buttons"
    mat-raised-button
    color="primary"
    routerLink="/theses"
    routerLinkActive="active-button"
    >Thesis projects</a
  >
  <a
    class="home-buttons"
    mat-raised-button
    color="primary"
    routerLink="/admin"
    routerLinkActive="active-button"
    >Admin Panel</a
  >
</div>
